In [1]:
import csv
with open('data.csv','rt') as f:
    data = csv.reader(f)
    for row in data:
        print(row)

['Student', ' Age', ' Marks']
['Vishal', '20', '80']
['ABC', ' 21', '30']
['CVF', '19', ' 87']
['QWE', '23', ' 90']
['UYN', '30', '59']
['VCH', '41', '78']
['PLJ', '49', '20']
['BMF', '23', '68']
['PLE', '83', '81']
['TBE', '29', '99']

In [3]:
reader = csv.DictReader(open('data.csv','rt'))
for raw in reader:
    print(raw)

OrderedDict([('Student', 'Vishal'), (' Age', '20'), (' Marks', '80')])
OrderedDict([('Student', 'ABC'), (' Age', ' 21'), (' Marks', '30')])
OrderedDict([('Student', 'CVF'), (' Age', '19'), (' Marks', ' 87')])
OrderedDict([('Student', 'QWE'), (' Age', '23'), (' Marks', ' 90')])
OrderedDict([('Student', 'UYN'), (' Age', '30'), (' Marks', '59')])
OrderedDict([('Student', 'VCH'), (' Age', '41'), (' Marks', '78')])
OrderedDict([('Student', 'PLJ'), (' Age', '49'), (' Marks', '20')])
OrderedDict([('Student', 'BMF'), (' Age', '23'), (' Marks', '68')])
OrderedDict([('Student', 'PLE'), (' Age', '83'), (' Marks', '81')])
OrderedDict([('Student', 'TBE'), (' Age', '29'), (' Marks', '99')])

In [10]:
with open('data.csv','w') as file:
    writer = csv.writer(file)
    writer.writerow(['Student', 'Age', 'Marks'])
    writer.writerows([['Agarwal',23, 99],
                    ['Vishal', '20', '80'],
                    ['ABC', ' 21', '30'],
                    ['CVF', '19', ' 87'],
                    ['QWE', '23', ' 90'],
                    ['UYN', '30', '59'],
                    ['VCH', '41', '78'],
                    ['PLJ', '49', '20'],
                    ['BMF', '23', '68'],
                    ['PLE', '83', '81'],
                    ['TBE', '29', '99']]
                    )

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('data.csv')

In [13]:
df

    Student  Age  Marks
0   Agarwal   23     99
1    Vishal   20     80
2       ABC   21     30
3       CVF   19     87
4       QWE   23     90
5       UYN   30     59
6       VCH   41     78
7       PLJ   49     20
8       BMF   23     68
9       PLE   83     81
10      TBE   29     99