In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('data1.csv')

In [3]:
df.head()

   Silver_Price  Gold_price  Year
0          2715        1800  1981
1          2720        1970  1982
2          3105        2130  1983
3          3570        2140  1984
4          3955        2570  1985

In [4]:
X1 = df['Year']

In [5]:
X2 = df['Gold_price']
y = df['Silver_Price']